<main class="auth-page">
  <div class="auth-card">
    <h1>Sign in</h1>
    <p class="form-note">Sign in to access your task board.</p>

    <%= form_tag login_path, class: "auth-form" do %>
      <div class="field">
        <%= label_tag :email, "Email" %>
        <%= email_field_tag :email, nil, placeholder: "you@example.com", class: "input-field", autofocus: true %>
      </div>

      <div class="field">
        <%= label_tag :password, "Password" %>
        <%= password_field_tag :password, nil, placeholder: "Enter your password", class: "input-field" %>
      </div>

      <div class="form-actions">
        <%= submit_tag "Sign in", class: "button primary" %>
      </div>
    <% end %>

    <p class="auth-alt">Don't have an account? <%= link_to "Sign up", signup_path %>.</p>
  </div>
</main>