<h1>Task Manager</h1>

<%= turbo_stream_from "tasks_#{current_user.id}" %>

<%= render "form", task: Task.new %>

<div class="task-board">
  <% %w[todo in_progress completed].each do |status| %>
    <div class="task-column">
      <h2><%= status.humanize %></h2>
      <turbo-frame id="tasks_<%= status %>">
        <%= render @tasks.where(status: status) %>
      </turbo-frame>
    </div>
  <% end %>
</div>